{% extends 'snippets/base.html' %}
{% block content %}
    <h3>{{ title }}</h3>
    <p>{{ article }}</p>
    <a href="{% url 'blog:tambah' %}">Tambah</a>
    <table border="1">
        <thead>
            <tr>
                <td>Judul</td>
                <td>Penulis</td>
            </tr>
        </thead>
        <tbody>
            {% for element in data %}
                <tr>
                    <td>{{ element.title }}</td>
                    <td>{{ element.author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}