<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="ilman teguh prasetya">
        <meta name="description" content="ini adalah Home">
        <meta name="keywords" content="HTML,CSS,Javascript">
        <title>
            Belajar Django
        </title>
    </head>
    <body>
        <h3>Welcome Blog</h3>
        <p>Section ini adalah section Home</p>
        <ul>
            <li><a href="/">Back</a> </li>
        </ul>
    </body>
</html>