{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML,Javascripts,CSS">
        <meta name="description" content="belajar django">
        <meta name="author" content="ilman teguh prasetya">
        <title>
            Belajad Django || {{ sectionWeb }}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div id="container" class="container-fluid">
            <div id="header">
                    {% include 'snippets/navbar.html' %}
                    {% include 'snippets/jumbotron.html' %}
            </div>
            <div id="content" class="bg-white shadow-lg">
                <div id="main">
                    <div class="container-fluid">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div id="menuSamping">
                        {% block menuSlide %}
                        {% endblock %}
                </div>
            </div>
            <div id="footer">
                <div class="container-fluid">
                    <p class="text-white-50 text-center">Copyright &copy;2019 ilman</p>
                </div>
            </div>
        </div>
        <script src="{% static 'vendor/bootstrap/js/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>